@import '../variables/variables.scss';

.navBar {
    width:100%;
    margin: auto;
    padding: 15px 0;
    border: 1px solid #E2E5E6;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1000;
}
.navbar-content {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 80%;
    @include tablet-only {
        width: 90%;
    }
}
.navBar-div{
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align:center;

    @include tablet-only {
        width: 55%;
    }
    @include phone-only {
        display:none;
    }

    a {
        text-decoration: none;
    }
}

.signUpButton {
    width: 83px;
    height: 42px;
    border-radius: 4px;
    background: #311B92;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.3px;
    color: #ffffff;
    border: 1px solid #373f41;
}

.signUpButton:hover{
    cursor: pointer;
}

.logIn-OutButton {
    width: 83px;
    height: 42px;
    border-radius: 4px;
    border: solid 1px #311B92;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.3px;
    color: #311B92;
    background-color:white;
}

.logIn-OutButton:hover{
    cursor: pointer;
}

.navBarLink{
//   width: 106px;
  height: 18px;
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 0.3px;
  color: #311B92;
}

.hamburger-menu{
    display:none;
    @include phone-only{
        display:block;
        margin: 13px 5px 0px 0px; 
    }
}
.line {
    width: 18px;
    height: 2px;
    background-color: #232323;
    margin: 6px 0;
}