@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.search-container {
    width: 65%;
    margin: auto;
    display: flex;
    background-color: #F5F8FA;
    color: #000000;
    border: none;
    padding: 5px 0 5px 3px;
    font-size: 25px;
  }
.searchBar {
        width: 100%;
        border-radius: 4px;
        height: 25px;
        margin: auto;
        border: 1px solid #F5F8FA;
        background-color: #F5F8FA;
        font-family: Muli;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
}
.search-icon {
    padding: 10px;
    color: #90A0B7;
    min-width: 25px;
    font-size: 14px;
    text-align: center;
  }
.filter {
    width: 65%;
    margin: 1px auto;
    margin-bottom: 5%;
    // text-align: left;
    display: flex;
    align-items: center;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #90A0B7;
    cursor: pointer;
        p{
            margin: 1px;
        }
}
.filter-icon {
    // width
}
.hackathonHeaders {
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.1px;
}
.fullList {
    margin: 10% 7.5% 0px 7.5%;
    text-align: center;

    #hackathons-head {
        margin: auto;
        width: 65%;
        color: #90A0B7;
        text-align: left;
        font-size: 14px;
        line-height: 20px;
    }
}
.cardParent {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.content {
    text-align: left;
}
.hackathonInfo {
    font-family: Muli;
    text-align: center;
    color: black;
    // margin-top: 7%;
    font-size: 14px;
    line-height: 20px;
    // RGB FOR #d0ddff with opacity 64%
}

