.stepper-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
}
.makeStyles-label-83 {
    background-color: rgba(0, 0, 0, 0.04);
}
.makeStyles-buttonsContainer-92 {
    justify-content: flex-end;
}
