.homepage {
    margin: auto;
    height: 100vh;
    .hero {
        width: 100%;
        height: 60%;
        background-color: grey;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero2 {
        width:80%;
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    .hero-left {
        width: 35%;
        // font-family: Muli;
        button {
            font-size: 14px;
            width: 160px;
            height: 48px;
            border-radius: 4px;
            margin-top: 40px;
            background-color: #fff;
            border: 1px solid #fff;
        }
    }
    .hero-right {
        width:55%;
        height:45vh;
    }
}

.homePageDataDisplay {
    margin: 20px auto;
    text-align: center;
    width: 80%;
        .upcoming-hackathons {
            display: flex;
            justify-content: space-between;
          }

         .hackathon-card {
                width: 30%;
                height: 200px;
                background-color: grey;
                display: flex;
                justify-content: center;
                align-items: center

    }
}

.displayInfo {
    font-size: 20px;
    margin-top: 40px;

    a {
        text-decoration: none;
        color: black;
    }
}

.middle-content {
    width: 80%;
    margin: auto;
    text-align: center;
    .values {
        display:flex;
    }
}

