.navBar {
    display: flex;
    justify-content: space-between;
    width:80%;
    margin:auto;
}

.navBar-div{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align:center;

    a {
        text-decoration: none;
    }
}

.signUpButton {
    width: 83px;
    height: 42px;
    border-radius: 4px;
    background-color: #373f41;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.3px;
    color: #ffffff;
    border: 1px solid #373f41;
}

.logInButton {
    width: 83px;
    height: 42px;
    border-radius: 7px;
    border: solid 1px #252733;
    font-family: Muli;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: 0.3px;
    color: #252733;
    background-color:white;
}

.navBarLink{
  width: 106px;
  height: 18px;
  font-family: Muli;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 0.3px;
  color: #373f41;
}