@import '../variables/variables.scss';

.single-hackathon-container{
    width:80%;
    margin:auto;
    padding-top:60px;
    display:flex;
    justify-content: space-between;
    @include tablet-only {
        width: 90%;
    }
    @include phone-only {
        flex-direction: column;
    }
    h3{
        font-family: Muli;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
    }
    p{
        font-family: Muli;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
    }

    .single-hackathon-title {
        h1 {
            overflow: hidden; 
            text-overflow: ellipsis;
            width: 500px; 
            white-space: nowrap;
            @include phone-only {
                width: 100%;
            }
        }
        @include phone-only {
            text-align: center;
        }
    }

    .single-hackathon-buttons {
        color: #311B92;
        background: white;
        width: 187px;
        height: 42px;
        font-weight: bold;
        font-size: 14px;
        border: 1px solid #311B92;
        border-radius: 4px;
        margin-bottom: 10px;
    }
    
    .single-hackathon-button-pending {
        cursor: pointer;
        color: #D17F00;
        background: white;
        width: 187px;
        height: 42px;
        font-weight: bold;
        font-size: 14px;
        border: 1px solid #D17F00;
        border-radius: 4px;
        margin-bottom: 10px;
         
        a{
             text-decoration: none;
             color: #D17F00;
         }
    }
    .grey-no-pending {
        border: 1px solid #858585;
        color: #858585;
        a{
            text-decoration: none;
            color: #858585;
        }
    }

    .single-hackathon-buttons:hover{
        cursor: pointer;
    }

    .admins-parent {
        display:flex;
        flex-direction: column;
        width: 90%;
        @include phone-only {
            width: 100%;
            text-align: center;
            justify-content: space-evenly;
            .organizers-container{
                width:50%;
            }
            .judges-container{
                width:50%;
            }
        }
        .organizers-container{
            width:50%;
        }
        .judges-container{
            width:50%;
        }
    }
    .organizer-judge-container{
        display: flex;
        justify-content: space-between;
        @include phone-only {
            display:flex;
        }
    }
    .single-hackathon-admins {
        margin-bottom: 30px;
        margin-bottom: 10px;
        h3{
            margin:0;
        }
        @include phone-only {
            width: 100%;
            margin: auto;
            text-align: left;
            display: flex;
            justify-content: center;
            p{
                padding:0;
            }
        }
    }
}
.admins-container{
    margin-bottom: 60px;
    @include phone-only {
        width:100%;
        // text-align: left;
    }
}
.single-hackathon-container-left{
    width:45%;
    @include phone-only {
        width: 100%;
    }
}
.description{
    width:48%;
    @include phone-only {
        width: 100%;
        text-align:center;
        margin:auto;
        p{
            text-align:center;
            margin:auto;
            padding:0;
        }
    }
}
.single-hackathon-description{
    display: flex;
    justify-content: space-between;
       
}
.single-hackathon-dates{
    width: 90%;
    display:flex;
    justify-content: space-evenly;
    .start-container{
        width:50%;
    }
    .end-container{
        width:50%;
    }
    @include phone-only {
        margin: auto;
        text-align: center;
        width:100%;
        justify-content: space-evenly;
        .start-container{
            width:50%;
        }
        .end-container{
            width:50%;
        }
    }
    p{
        @include phone-only {
            text-align: center;
            justify-content: space-evenly;
            padding: 0;
        }
    }
}

.single-hackathon-container-right{
    width:48%;

    @include phone-only {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width:100%;
    }
    img {
        width: 100%;
        height: 40vh;
        border-radius: 4px;
        @include phone-only {
            margin-top: 20px;
            margin-bottom: 40px;
        }
    }
  
}
.sh-buttons-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
    @include phone-only {
        margin: 0px;
    }
}
