@import '../variables/variables.scss';


.homepage {
  margin: auto;

  .hero-background {
    width: 100%;
    height: 90%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
      @include tablet-only {
          height:50vh;
    }
    @include phone-only {
      height: 80vh;
    }
  }
  .hero-content {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablet-only {
      width:90%;
    }
    @include phone-only {
      display: inline;
    }
  }
  .hero-left {
    width: 35%;
    @include tablet-only {
      width: 45%;
      height: 30%;
    }
    @include phone-only {
      width: 100%;
      justify-content: center;
      margin:auto;
      text-align: center;
    }
    p {
      font-size: 16px;
      line-height: 22px;
      width: 80%;
      @include tablet-only {
        width:100%;
      }
      @include phone-only{
        width:77%;
        margin:auto;
        text-align: center;
      }
    }

    button {
      font-size: 14px;
      line-height: 18px;
      width: 108px;
      height: 42px;
      border-radius: 4px;
      margin-top: 5%;
      color:#FFFFFF;
      background-color: #311B92;
      border: 1px solid #311B92;
      @include phone-only {
        margin:auto;
        margin-top:5%;
      }
    }

    button:hover{
      cursor: pointer;
    }

    h1 {
      font-family: Muli;
      font-style: normal;
      font-weight: bold;
      font-size: 44px;
      line-height: 56px;
    }
    span {
      color: #311B92;
      font-weight: bold;
    }
  }

  .hero-right {
    min-width: 60%;
    height: 60vh;
    border-radius: 4px;
    @include tablet-only {
      // position: absolute;
      // right: 35px;
      // top: 200px;
      min-width: 90px;
      height: 38vh;
    }
    @include phone-only {
      height: 35vh;
    }
  }
}

.homePageDataDisplay {
  margin: 60px auto;
  margin-bottom: 0;
  text-align: left;
  width: 80%;
  @include tablet-only {
    width: 90%;
  }
  
  .upcoming-hackathons {
    display: flex;
    justify-content: space-between;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    @include phone-only {
      flex-direction: column;
    }
  }

}

.displayInfo {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: left;

  a {
    text-decoration: none;
    font-family: Muli;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #311B92;  }
}

.middle-content {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  font-size: 32px;
  line-height: 40px;
  text-align:center;
  @include tablet-only {
    width: 90%;
  }
  div{
    @include phone-only {
      margin-bottom: 20px;
    }
  }
  .values-header {
    h2 {
      font-size: 32px;
      line-height: 40px;
    }
    p{
      margin: auto;
      text-align: center;
    }
    
  }

  p {
    padding-right: 0;
    font-size: 16px;
    line-height: 22px;
    width: 70%;
    margin: auto;
  }

  .values {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
    font-size: 14px;
    line-height: 20px;
    justify-content: space-between;
    div{
      width:30%;
      @include phone-only {
        width: 100%;
      }
    }
    p {
      font-size: 14px;
      line-height: 20px;
      width:80%;
      @include tablet-only {
        width: 90%;
      }
    }
    h3 {
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
    }
    @include phone-only {
      flex-direction: column;
    }
  }
}
.hackathon-card{
  @include phone-only {
    display: flex;
    position: relative;
    width: 100%;
  }
  .card-image {
    @include phone-only{
      position: absolute;
      width: 35%;
      left: 0;
    }
  }

  .content {
    @include phone-only {
      margin-left: 40%;
    }
    span {
      @include phone-only {
        margin-top: 0;
      }
    }
  }
}