@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
.profile-wrapper {
  width: 80%;
  margin: auto;
}

.profile-wrapper .top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: .1px solid #E5E5E5;
  padding-top: 60px;
  padding-bottom: 0px;
}

.profile-wrapper .top-content .top-left h1 {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  margin: 0px;
  padding: 0px;
}

.profile-wrapper .top-content .top-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.profile-wrapper .top-content .top-right .tabPast {
  padding-left: 40px;
  padding-right: 40px;
}

.profile-wrapper .top-content .top-right p {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 0px;
  padding-bottom: 12px;
  margin-left: 1px;
  cursor: pointer;
}

.profile-wrapper .logged-in-as h3 {
  font-family: Muli;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0px;
}

.profile-wrapper .logged-in-as h3 p {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-left: 10px;
}

.profile-wrapper .above-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}

.profile-wrapper .above-table .hackathons-header {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
}

.profile-wrapper .above-table .dashboard-buttons {
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  width: 196px;
  height: 42px;
  background: #373F41;
  border: 1px solid #373f41;
  color: #FFFFFF;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 10px 0px;
  cursor: pointer;
}

.profile-wrapper .above-table .back-button, .profile-wrapper .above-table .next-button {
  width: 92px;
  height: 42px;
}

.profile-wrapper .above-table .back-button {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
  margin-right: 10px;
}

.profile-wrapper .above-table .cancel-button {
  margin-right: 10px;
  background: #fff;
  border: none;
  color: #9E9E9E;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.profile-wrapper .active {
  border-bottom: 1px solid black;
  color: rgba(0, 0, 0, 0.87);
}

.profile-wrapper .hidden {
  display: none;
}

.profile-wrapper .table {
  width: 100%;
  border-spacing: 0;
}

.profile-wrapper .table tbody {
  border: 1px solid blue;
  border-collapse: collapse;
}

.profile-wrapper .table tbody .tr-data {
  border-bottom: 1px solid #373f41;
}

.profile-wrapper .table tbody .tr-data .td-hackathon-name {
  font-weight: bold;
  font-size: 18px;
}

.profile-wrapper .table tbody .tr-data .td-details {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  cursor: pointer;
}

.profile-wrapper .table tbody .th-header {
  padding-bottom: 0.5rem;
}

.profile-wrapper .table tbody td, .profile-wrapper .table tbody th {
  padding: 1rem;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 0;
  text-align: left;
  border-bottom: 1.5px solid #DFE0EB;
}

.profile-wrapper .table tbody th {
  font-size: 14px;
  line-height: 18px;
  color: #9FA2B4;
}

.profile-wrapper .table tbody td {
  border-bottom: 1px solid #DFE0EB;
  font-size: 16px;
  line-height: 22px;
  color: #252733;
}
/*# sourceMappingURL=userProfile.css.map */