@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import '../variables/variables.scss';
.profile-wrapper{
    width:80%;
    height: calc(100vh - 92px);
    overflow: auto;
    margin:auto;
    @include tablet-only {
        width: 90%;
    }

    .top-content{
        display: flex;
        text-align: center;
        justify-content: space-between;
        border-bottom: .1px solid #E5E5E5;
        padding-top: 60px;
        padding-bottom: 0px;
        @include phone-only{
            flex-direction: column;
            padding-top: 40px;
        }
        .top-left{
            h1{
                font-family: Muli;
                font-style: normal;
                font-weight: bold;
                font-size: 44px;
                line-height: 56px;
                margin:0px;
                padding:0px;
            }
        }
        .top-right{
                display: flex;
                align-items: center;
                text-align: center;
                @include phone-only {
                    margin-top: 20px;
                    width: 100%;
                }
                .tabPast {
                    padding-left: 40px;
                    padding-right: 40px;
                    @include phone-only {
                        text-align: center;
                        width: 50%;
                    }
                }
                .tabPresent {
                    @include phone-only {
                        width: 100%;
                        text-align: center;
                    }
                }
                p {
                    font-family: Muli;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 24px;
                    color: rgba(0, 0, 0, 0.6);
                    margin-top: 17px;
                    padding-bottom: 12px;
                    margin-left: 1px;
                    cursor: pointer;
                    padding-right: 0;
                }
        }
    }
    .logged-in-as{
        h3{
            font-family: Muli;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            display: flex;
            align-items: center;
            text-align: center;
            margin:0px;
            p{
                font-family: Muli;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 24px;
                margin-left: 10px;
                color: #311B92;
            }
        }
        @include phone-only {
            display: none;
        }
    }
    .mobile-logged-in {
        display: none;
        @include phone-only {
            display: block;
            h3{
                font-family: Muli;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin:0px; 
                p{
                    font-family: Muli;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 24px;
                    margin-left: 10px;
                    color: #311B92;
                    padding-right: 0;
                }
            }
        }   
    }
    .above-table{
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        margin-top: 50px;
        
        @include phone-only {
            flex-direction: column;
    
        }
        .hackathons-header{
            font-family: Muli;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            
            @include phone-only {
                text-align: center;
                padding-right: 0px;
                margin-bottom: 20px;
            }
        }
        .dashboard-buttons{
            font-family: Muli;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            width: 196px;
            height: 42px;
            background: #311B92;;
            border: 1px solid #373f41;
            color: #FFFFFF;
            border-radius: 4px;
            align-items: center;
            text-align: center;
            margin: 10px 0px;
            cursor: pointer;
        }
        .back-button, .next-button, .finish-button{
            width: 92px;
            height:42px;
        }
        .back-button {
            background: #fff;
            border: 1px solid rgba(0, 0, 0, 0.6);
            color: rgba(0, 0, 0, 0.6);
            margin-right:10px;
        }
        .cancel-button {
            margin-right: 10px;
            background: #fff;
            border: none;
            color: #9E9E9E;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
        }
    }
    .active {
        border-bottom: 1px solid #311B92;;
        color: #311B92 !important;
        
    }
    .hidden {
        display: none;
    }
    .table {
        width: 100%;
        border-spacing: 0;
        tbody {
            border: 1px solid blue;
            border-collapse: collapse;
            .tr-data{
                border-bottom: 1px solid #373f41;

                .td-hackathon-name {
                    font-family: Muli;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 24px;
                    color: #311B92;
                }

                .td-hackathon-name:hover{
                    cursor: pointer;
                }

                .td-details {
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 18px;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
            .th-header {
                padding-bottom: 0.5rem;
            }
            td, th {
                padding: 1rem;
                text-overflow: ellipsis;
                overflow: hidden; 
                white-space: nowrap;
                padding-left: 0;
                text-align: left;
                border-bottom: 1.5px solid #DFE0EB;
            }
            th{

                font-size: 14px;
                line-height: 18px;
                color: #9FA2B4;
            }
            td {
                border-bottom: 1px solid #DFE0EB;
                font-size: 16px;
                line-height: 22px;
                color: #252733;
            }
        }

    }
}
.status-container{
    display:flex;
    img {
        margin-right:10px;
    }
    .status-upcoming{
        font-size: 16px;
        line-height: 22px;
        color: #D17F00;
    }

    .status-active {
        font-size: 16px;
        line-height: 22px;
        color: #007C5D;
    }

    .status-finished {
        font-size: 16px;
        line-height: 22px;
        color: #232323;
    }

}
.hackathon-name-column{
    max-width:300px;
    min-width:300px;
    overflow:hidden;
    margin-right:5px;
    @include tablet-only {
        max-width: 170px;
        min-width: 170px;
    }
    @include phone-only {
        max-width: 20%;
        min-width: 20%;
    }
}
.location-column{
    max-width:200px;
    min-width:200px;
    @include tablet-only {
        max-width:140px;
        min-width:140px;
    }
    @include phone-only {
        display: none;
    }
}
.start-date-column{
    max-width:100px;
    min-width:100px;
    @include tablet-only {
        max-width:90px;
        min-width:90px;
    }
    @include phone-only {
        max-width: 15%;
        min-width: 15%;
    }
}
.end-date-column{
    max-width:100px;
    min-width:100px;
    @include tablet-only {
        max-width:90px;
        min-width:90px;
    }
    @include phone-only {
        max-width: 15%;
        min-width: 15%;
    }
}
.role-column{
    max-width:100px;
    min-width:100px;
    @include tablet-only {
        max-width:85px;
        min-width:85px;
    }
    @include phone-only {
        display: none;
    }
}
.status-column{
    max-width:100px;
    min-width:100px;
    @include tablet-only {
        max-width:85px;
        min-width:85px;
    }
    @include phone-only {
        display: none;
    }
}
.submission-column{
    max-width:100px;
    min-width:100px;
    @include tablet-only {
        max-width:77px;
        min-width:77px;
    }
    @include phone-only {
        max-width: 15%;
        min-width: 15%;
    }
}

.past-div {
    height: 42px;
    width: 196px;
    margin: 10px 0;
    @include tablet-only {
        max-width:77px;
        min-width:77px;
    }
}

.empty-hackathon-list {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
}
.find-one-link{
    color: #311B92;
    a{
        color: #311B92;
        text-decoration: none;
        font-weight: bold;
    }
}

.hidden-mobile {
    @include phone-only {
            display: none;
        }
}

.profile-container {
    margin-top: 10px;
}