.project-submission-content{
    width:80%;
    margin:auto;
    .hackathon-name{
        margin-bottom:none;
        font-family: Muli;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #232323;
    }
    .project-name{
        margin-top:none;
        font-family: Muli;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #232323;
    }
   .submission-form {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
    }
    
    .input {
        background: #F5F5F5;
        border:none;
        border-bottom:1px solid #858585;
        margin-bottom: 10px;
        padding:15px;
        font-family: Muli;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #858585;
    }
    .submission-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top:200px;
        
        .cancel-button{
            margin-right: 20px;
            background:white;
            border:none;
            border-radius: 4px;
            cursor:pointer;
        }
        .submission-button{
            color: white;
            font-size: 14px;
            background: #311B92;
            border:none;
            border-radius:4px;
            width: 92px;
            height: 42px;
            padding:10px 20px;
            cursor:pointer;
        }
    }
}

.project-submission-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    
    .success-container {
        height: 50%;
        max-width: 80%;
        margin-bottom: -180px;
        white-space: normal;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        .success-header {
            font-size: 32px;
            font-weight: bold;
            line-height: 40px;
            color: #007C5D;
        }
        .ok-div{
            width: 100%;
            display:flex;
            justify-content: flex-end;
            margin-top:180px;

            .ok-button {
                color: white;
                background: #311B92;
                border:none;
                border-radius:4px;
                padding:12px 16px;
                cursor:pointer;
                width: 92px;
                height: 42px;
                font-size: 14px;
        
            }      
        }
    }
}
