/* .App {
  text-align: center;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NOTE: css code for Dashabord */
 .createEventButton {
   background-color: white;
   padding: 50px 40px;
   width: 40px;
   color: silver;
   border: 2px solid red;
 }