/* .App {
  text-align: center;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NOTE: css code for Dashabord */
.dashboard {
  justify-content: center;
  border: 2px solid #d0ddff;
  border-radius: 8px;
}

#searchInput {
  width: 60%;
}

 .eventList {
   display: flex;
   flex-wrap: wrap;
   align-self: auto;
 }

 #addIcon {
   width: 50%;
   margin-top: -12%;
   margin-bottom: -15%;
   color:silver;
 }
#createEventButtonText {
  margin-top: -8%;
  color:silver;
  /* margin-left: 5%; */
}

/*css code for the Events.js file*/
.createEvent{
  width: 300px;
  margin: 10px;
  background-color: black;
  text-align: center;
  border: 2px solid #d0ddff;
  border-radius: 8px;
}

.event {
  width: 30%;
  margin: 1.5%;
  background-color: black;
  text-align: center;
  border: 2px solid #d0ddff;
  border-radius: 8px;
}

.eventImage {
  display: flex;
  margin: auto;
}

.eventName {
  margin-bottom: 3%;
}