/* .App {
  text-align: center;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NOTE: css code for Dashabord */
 .createEventButton {
   display: flex;
   flex-direction: column;
   background-color: white;
   padding: 0% 7% 2% 7%;
   width: 10%;
   color: silver;
 }

 #addIcon {
   width: 100%;
   margin-top: -25%;
 }
#createEventButtonText {
  margin-top: -70%;
}